/* * {
  outline: 1px dashed red;
} */

html {
  height: 100%;
}

body {
  background-color: #f1f3de;
  color: #eb8f8f;
}

body h1, h2, h3, h4, h5, h6 {
  color: #ec0101;
}

nav {
  margin-bottom: 5%;
}

  /* Search bar & Buton */
  nav form {
    margin-right: 15%;
    width: 35%;
  }

  /* nav a:link {
    color: white;
  } */
  nav #logoff-hl {
    color: white;
    background-color: #dc3545;
    border-radius: 4%;
  }

header {
  margin: 1% 2%;
  display: flex;
  justify-content: space-between;
}

  header form {
    width: 50%;
  }

main {
  text-align: center;
  display: flex;
  justify-content: center;
}

  main table {
    background-color: white;
    margin: 0 2%;
  }
