<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Products | Add Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'seller_stylesheets/add_product_style.css' %}">
  </head>
  <body>
    <!-- Title & exit button -->
    <header>
      <h2>Add a New Product</h2>
      <button class="btn btn-light"type="button" onclick="window.location.href='/dashboard/products'" name="button">X</button>
    </header>

    <!-- Will display form error messages if any -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} alert-danger"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Form -->
    <form action="/product_add" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="name">Name</label>
      <input type="text" name="name" required>

      <label for="price">Price</label>
      <input type="number" name="price" required>

      <label for="inv_count">Inventory Count</label>
      <input type="number" name="inv_count" required>

      <label for="description">Description</label>
      <textarea name="description" rows="6" cols="60"></textarea required>

      <label for="cat_sel">Categories</label>
      <select class="form-select" name="cat_sel" id="cats-dropdown-menu" required>
        <option value="blank">Select One Category</option>
        {% for cat in categories %}
        <option value="{{ cat.id }}">{{ cat.name.capitalize }}</option>
        {% endfor %}
      </select>

      <label for="add-cat">or add a new category:</label>
      <input type="text" name="add-cat" id="add-cat">

      <label for="upload-img">Image:</label>
      <input type="file" id="product-img" name="upload-img" required>

      <div id="form-buttons">
        <button class="btn btn-light" type="reset">Cancel</button>
        <button class="btn btn-success" type="button" onclick="window.location.href='/dashboard/products'">Preview</button>
        <button class="btn btn-danger" type="Submit">Add</button>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
