<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>E-Commerce | Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'seller_stylesheets/dash_style.css' %}">
  </head>

  <body>

    <!-- Navbar: dashboard, orders, products, logoff -->
    <nav class="navbar navbar-expand-lg navbar-light .bg-transparent">
      <div class="container-fluid navbar-color">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/orders">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dashboard/products">
                Products
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
          <div class="nav-item">
            <a class="nav-link active" id="logoff-hl" href="/clear">Log Off</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Main: last product added, most purchased item(from seller), top three most purchased item(all sellers) -->
    <!-- last product added and morst purchased itme form seller can be Cards. top three all seller most purchased item can be a carousel -->

    <main>

      <!--  Last Product Added(seller) -->
      <div class="card" style="width: 18rem;" id="last-product-added">
        <h3>Last Product Added</h3>
        <!-- For the alt add the description of the product -->
        <img src="https://i.ibb.co/KFTsy6w/no-product-image.png" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ last_product.name }}</h5>
          <p class="card-text">{{ last_product.desc }}</p>
          <a href="#" class="btn btn-danger">See Product</a>
        </div>
      </div>

      <!-- Most Purchase Item from Seller -->
      <div class="card" style="width: 18rem;" id="most-purchased-item">
        <h3>Your Most Purchased Product</h3>
        <img src="https://i.ibb.co/KFTsy6w/no-product-image.png" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ most_pur_product_seller.name }}</h5>
          <p class="card-text">{{ most_pur_product_seller.desc }}</p>
          <a href="#" class="btn btn-danger">See Product</a>
        </div>
      </div>

    </main>
    <!--  Bootstrap JS script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  </body>

</html>
