<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>E-Commerce | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'customer_stylesheets/product_show_style.css' %}">
  </head>
  <body>

    <!-- Navbar: title, cart -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">E-Commerce</span>
        <span class="navbar-brand mb-0 h1">Shopping Cart ({{ num }})</span>
      </div>
    </nav>

    <header>
      <a href="/home">Go Back</a>
      <h2>{{ product.name }}</h2>
    </header>

    <main>

      <div id="product-image">
        <img src="https://i.ibb.co/KFTsy6w/no-product-image.png" alt="Product Image" id="product-img">
      </div>

      <div id="product-details">
        <p>{{ product.desc }}</p>
      </div>

    </main>

    <div id="similar-items">
      <h4>Similar Items:</h4>
      <div id="items-container">
        {% for item in similar_items %}
          <div id="products-lineup">
            <div id="product-container">
              <a href="/show">
                <img src="https://i.ibb.co/KFTsy6w/no-product-image.png" alt="Product Image" id="item-img">
              </a>
            </div>
            <label id="product-price">${{ product.price }}</label>
            <h4>{{ product.name }}</h4>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
