/* * {
  outline: 1px dashed red;
} */

html {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
}

form {
  text-align: center;
  display: block;
  margin: 2% 30%;
  height: 90%;
}

  form input, label ,textarea {
    width: 75%;
    margin: 1%;
  }

  form #description{
    height: 100%;
  }

  form #cats-dropdown-menu {
    display: block;
    margin: 1% 35%;
  }

  form #add-cat {
    width: 25%;
  }
