/* * {
  outline: 1px dashed red;
} */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f1f3de;
  color: #eb8f8f;
  text-align: center;
}

  body h1,h2,h3,h4,h5,h6 {
    color: #ec0101;
  }
  /*  make text stand out */
  /* body p,label {
    text-shadow: 1px 1px black;
    font-weight: number; */
  }
nav {
  display: flex;
  justify-content: space-between;
}

header {
  margin: 1% 2%;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

  main p {
    color: black;
  }

  main #product-img {
    object-fit: cover;
    width:30em;
    height:30em;
  }

  main #add_to_cart select {
    margin-bottom: 10%;
  }

#similar-items {
  margin-top: 10%;
}

#items-container {
  display: flex;
  justify-content: space-around;
  margin: 1% 1%;
  flex-wrap: wrap;
}

#item-img {
  object-fit: cover;
  width: 20em;
  height: 20em;
}
