<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Products | Edit Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit_product_style.css' %}">
  </head>
  <body>
    <!-- Title & exit button -->
    <header>
      <h2>Edit Product - ID: {{ id }}</h2>
      <button class="btn btn-light"type="button" onclick="window.location.href='/dashboard/products'" name="button">X</button>
    </header>
    <!-- Form -->
    <form action="/product_edit" method="post">
      {% csrf_token %}
      <label for="name">Name</label>
      <input type="text" name="name">

      <label for="description">Description</label>
      <textarea name="descritpion" rows="6" cols="60"></textarea>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <!-- Categories drop down menu with bootstrap icons(pencil=edit, trash=delete) -->
          <!-- When pencil or delete buttons are pressed it should display an alert... -->
          <!-- asking the user if he wants to edit or delete the category -->
        <ul class="dropdown-menu" id="cats-dropdown-menu">
          <li><a class="dropdown-item" href="#" value="shirts">Shirts</a></li>
        </ul>
      </div>
      <!-- code to show edit and trash icon in each dropdown-menu item -->
      <!-- <button type="button" name="edit-cat" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></button><button type="button" name="delete-cat"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></button> -->
        <label for="add-cat">or add a new category:</label>
        <input type="text" name="add-cat" id="add-cat">

        <label for="upload-img">Image:</label>
        <input type="file" id="product-img" name="upload-img">

        <div id="form-buttons">
          <button class="btn btn-light" type="button" onclick="window.location.href='/dashboard/products'"name="button"><a>Cancel</a></button>
          <button class="btn btn-success" type="button" onclick="window.location.href='/dashboard/products'"name="button">Preview</button>
          <button class="btn btn-danger" type="Submit" name="button">Update</button>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
